In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

data_path = "../main_data/locale_specific_data/"

In [9]:
df_in = pd.read_csv(data_path + 'AustinTXData.csv')
df_in.head(5)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
1,A665739,*Alana,10/22/2013 11:11:00 AM,October 2013,Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Medium Hair Mix,Black
2,A665763,NaN,10/22/2013 03:10:00 PM,October 2013,E Riverside Dr/Royal Crest Dr in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Cairn Terrier Mix,Tan/White
3,A379998,Disciple,10/23/2013 11:42:00 AM,October 2013,51St And Grover in Austin (TX),Stray,Normal,Dog,Intact Male,10 years,Pit Bull,Black
4,A634503,Otter,10/01/2013 02:49:00 PM,October 2013,Manor (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Norfolk Terrier Mix,Tan

In [10]:
df_out = pd.read_csv(data_path + 'AustinTXOut.csv')
df_out.head(5)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [23]:
df_in['Animal Type'].value_counts()

Animal Type
Dog          89755
Cat          63705
Other         8494
Bird           818
Livestock       27
Name: count, dtype: int64

In [24]:
df_out['Animal Type'].value_counts()

Animal Type
Dog          89619
Cat          63610
Other         8478
Bird           812
Livestock       28
Name: count, dtype: int64

In [37]:
dogin_df = df_in[df_in["Animal Type"]=="Dog"].drop_duplicates()
# dog_adopt_df = dog_df[dog_df['Outcome Type']=="ADOPTION"].reset_index(drop=True)
dogin_df = dogin_df.reset_index(drop=True)

In [38]:
dogin_df['Animal Type'].value_counts()

Animal Type
Dog    89739
Name: count, dtype: int64

In [39]:
dogout_df = df_out[df_out["Animal Type"]=="Dog"].drop_duplicates()
dogout_df = dogout_df.reset_index(drop=True)

In [40]:
dogout_df['Animal Type'].value_counts()

Animal Type
Dog    89609
Name: count, dtype: int64

In [41]:
dogin_df['Breed'].value_counts()

Breed
Pit Bull Mix                              9813
Labrador Retriever Mix                    8389
Chihuahua Shorthair Mix                   6806
German Shepherd Mix                       3876
Pit Bull                                  3124
                                          ...
Wire Hair Fox Terrier/Golden Retriever       1
Norfolk Terrier/Dachshund                    1
Cardigan Welsh Corgi/Cairn Terrier           1
Borzoi                                       1
Patterdale Terr/Cardigan Welsh Corgi         1
Name: count, Length: 2591, dtype: int64